.wrapper {
    display: grid;
    grid-template-columns:1fr;
    align-items: center;
}

.wrapper>div {
    background: #eee;
    padding: 1em;
    align-items: center;
}

.wrapper > div:nth-child(odd){
    background:#ddd;
}

.center {
    text-align: center;
}

.small-caps {
    font-variant: small-caps;
}

.jumbotron {
    display: grid;
    grid-template-columns:1fr;
    grid-auto-rows: 10em;
    text-align: center;
}

.link {
    text-decoration: none;
}

#name {
    align-self: end;
}

#header {
    align-self:start;
}

.container {
    max-width: 80%;
    margin: auto;
}