.grid-wrapper {
    display: grid;
    grid-template-columns:1fr 1fr;
    align-items: center;
    grid-gap: 1em;
}

.calendar {
    justify-self: center;
    align-self: stretch;
    grid-column: 1/3;
}

.calendar > div {
    width:100%;
}